<<<<<<< HEAD
.warning {
    font-size: 16px;
    color: orange;
}


.network-warning h2 {
    @extend .warning;
}
/*bdihbfe*/
=======
.warning {
    font-size: 16px;
    color: orange;
}


.network-warning h2 {
    @extend .warning;
}
/*bdihbfe*/
>>>>>>> 26404b3f93a81e41471fc498f7a687ef48ac315f
