
$theme-colors: (
  primary: #3498db,
  secondary: #2ecc71,
  danger: #e74c3c,
  warning: #f1c40f,
  success: #28a745
);


@mixin button-styles($color-name) {
  background-color: map-get($theme-colors, $color-name);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(map-get($theme-colors, $color-name), 10%);
  }

  &:active {
    background-color: lighten(map-get($theme-colors, $color-name), 10%);
  }
}


.btn-primary {
  @include button-styles(primary);
}

.btn-secondary {
  @include button-styles(secondary);
}

.btn-danger {
  @include button-styles(danger);
}

.btn-warning {
  @include button-styles(warning);
}

.btn-success {
  @include button-styles(success);
}
